<!DOCTYPE html>
<html dir="rtl" ng-app="truck-app">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<title>سیستم جامع مدیریت خودرو</title>
<!-- BOOTSTRAP CORE CSS -->
<link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="webjars/jquery-ui-themes/1.11.4/ui-darkness/jquery-ui.min.css"
	rel="stylesheet">
<link href="assets/css/ionicons.css" rel="stylesheet" />
<link href="assets/css/font-awesome.css" rel="stylesheet" />
<link href="assets/js/source/jquery.fancybox.css" rel="stylesheet" />
<link href="assets/css/animations.min.css" rel="stylesheet" />
<link href="assets/css/style-blue.css" rel="stylesheet" />
<link href="assets/css/jquery.growl.css" rel="stylesheet" />
<!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


</head>
<body data-spy="scroll" data-target="#menu-section">
	<!--MENU SECTION START-->
	<div class="navbar navbar-inverse navbar-fixed-top scroll-me"
		id="menu-section">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> سیستم جامع مدیریت خودرو </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">درباره ی ما</a></li>
					<li><a href="#earning">محاسبات درآمد</a></li>
					<li><a href="#driver">مدیریت راننده</a></li>
					<li><a href="#maintenance">مدیریت خودرو</a></li>
					<li><a href="#accounts">مدیریت حساب</a></li>
					<li><a href="#home">خانه</a></li>
				</ul>
			</div>

		</div>
	</div>
	<!--MENU SECTION END-->
	<!--HOME SECTION START-->
	<div id="home">
		<div class="container">
			<div class="row">
				<div
					class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
					<div id="carousel-slider" data-ride="carousel"
						class="carousel slide  animate-in" data-anim-type="fade-in-up">
						<p>توسط این نرم‌افزار می‌توانید:</p>
						<div class="carousel-inner">
							<div class="item active">

								<h3>سیستم جامع مدیریت خودرو سنگین و نیمه سنگین</h3>
								<p>با وارد کردن مبالغ ورودی و خروجی گزارشات مختلفی از عملکرد
									خودرو خود داشته باشید</p>
							</div>
							<div class="item">
								<h3>کنترل حساب بانکی مرتبط با خودرو</h3>
								<p>مبالغی که به هر طریقی جهت خودرو خرج می‌کنید را به راحتی
									مدیریت کنید</p>
							</div>
							<div class="item">
								<h3>کنترل هزینه‌های راننده</h3>
								<p>هزینه‌هایی که بابت حقوق راننده می‌پردازید را تحت کنترل
									خود داشته باشید.</p>
							</div>
							<div class="item">
								<h3>کنترل سرویس‌های دوره‌ای خودرو</h3>
								<p>با وارد کردن سرویس‌های دوره‌ای خودرو از سلامت خودرو خود
									اطمینان حاصل کنید</p>
							</div>
						</div>


					</div>


				</div>
			</div>
			<div class="row animate-in" data-anim-type="fade-in-up">
				<div
					class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">

				</div>

				<section id="accounts">
					<div class="container">
						<div class="row text-center header">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in"
								data-anim-type="fade-in-up">
								<h3>مدیریت حساب</h3>
								<hr />
							</div>
						</div>
						<div class="row animate-in" data-anim-type="fade-in-up">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="accounts-wrapper">
									<i class="ion-card"></i>
									<h3>کارت همراه خودرو</h3>
									<div class="text-center">
										<ul class="list-inline">
											<li><a id="pay" href="#"
												class="active btn btn-custom btn-custom-two btn-sm">واریز</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">ویرایش</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">گزارش</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="accounts-wrapper">
									<i class="ion-cash"></i>
									<h3>هزینه‌های جانبی غیر از کارت</h3>
									<div class="text-center">
										<ul class="list-inline">
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">واریز</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">ویرایش</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">گزارش</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="accounts-wrapper">
									<i class="ion-model-s"></i>
									<h3>هزینه‌های اصلی خودرو</h3>
									<div class="text-center">
										<ul class="list-inline">
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">واریز</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">ویرایش</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">گزارش</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="accounts-wrapper">
									<i class="ion-document"></i>
									<h3>هزینه‌های مربوط به بارنامه‌ها</h3>
									<div class="text-center">
										<ul class="list-inline">
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">واریز</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">ویرایش</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">گزارش</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="accounts-wrapper">
									<i class="ion-gear-b"></i>
									<h3>هزینه‌های مربوط به سرویس‌ها</h3>
									<div class="text-center">
										<ul class="list-inline">
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">واریز</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">ویرایش</a></li>
											<li><a href="#"
												class="active btn btn-custom btn-custom-two btn-sm">گزارش</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="maintenance">
					<div class="container">
						<div class="row text-center header animate-in"
							data-anim-type="fade-in-up">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3>مدیریت خودرو</h3>
								<hr />
							</div>
							<div class="row animate-in" data-anim-type="fade-in-up">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="maintenance-wrapper">
										<i class="ion-speedometer"></i>
										<h3>مدیریت خودرو</h3>
										<ul class="list-inline">
											<li>سرویس‌های دوره‌ای</li>
											<li>قطعات مصرفی</li>
											<li>تعمیر</li>
											<li>کارواش</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="driver">
					<div class="container">
						<div class="row text-center header animate-in"
							data-anim-type="fade-in-up">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h3>مدیریت راننده</h3>
								<hr />
							</div>
						</div>
					</div>
				</section>
				<section id="earning">
					<div class="container">
						<div class="row text-center header animate-in"
							data-anim-type="fade-in-up">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								<h3>محاسبات درآمد</h3>
								<hr />

							</div>
						</div>
					</div>
				</section>
				<!--GRID SECTION END-->
				<!--CONTACT SECTION START-->
				<section id="about">
					<div class="container">
						<div class="row text-center header animate-in"
							data-anim-type="fade-in-up">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								<h3>درباره‌ی ما</h3>
								<hr />

							</div>
						</div>

						<div class="row animate-in" data-anim-type="fade-in-up">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								ng-controller="StaticContent">
								<p>{{about_us}}</p>
							</div>
						</div>

					</div>


				</section>
				<!--CONTACT SECTION END-->
				<!-- DIALOGS START -->
				<div id="payment">
					<form novalidate ng-submit="submit()"
						ng-controller="AccountPaymentController">
						<div class="form-group">
							<label for="account-ammount">مبلـغ</label> <input type="text"
								id="account-amount" ng-model="account_amount" />
						</div>
						<div class="form-group">
							<label for="account-date">تاریخ</label> <input type="text"
								id="account-date" ng-model="account_date" />
						</div>
						<div class="form-group">
							<label for="account-payer">واریز کننده</label> <input type="text"
								id="account-payer" ng-model="account_payer">
						</div>
						<div class="form-group">
							<label for="account-recepient">گیرنده</label> <input type="text"
								id="account-recipient" ng-model="account_recipient">
						</div>
						<div class="form-group">
							<input id="account-save" type="submit" value="ثبت"> <input
								id="account-cancel" type="submit" value="انصراف"
								ng-click="cancel()">
						</div>
					</form>
				</div>
				<!-- AngularJS -->
				<script src="webjars/angularjs/1.3.15/angular.min.js"></script>
				<script src="truck.js"></script>
				<script src="components/account_payment/AccountPaymentController.js"></script>
				<script src="components/account_payment/AccountPaymentService.js"></script>

				<script src="shared/static-content.js"></script>
				<script src="webjars/jquery/2.1.3/jquery.min.js"></script>
				<script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
				<script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
				<script src="assets/js/vegas/jquery.vegas.min.js"></script>
				<script src="assets/js/jquery.easing.min.js"></script>
				<script src="assets/js/source/jquery.fancybox.js"></script>
				<script src="assets/js/jquery.isotope.js"></script>
				<script src="assets/js/appear.min.js"></script>
				<script src="assets/js/animations.min.js"></script>
				<script src="assets/js/jquery.growl.js"></script>
				<script src="assets/js/custom.js"></script>

			</div>
		</div>
	</div>
</body>

</html>
