<div id="home">
	<div class="container">
		<div class="row">
			<section id="report">
				<div class="row header">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>ثبت واریزی خودرو</h3>
						<hr />
					</div>
				</div>
				<div class="row form-row">
					<form name="paymentForm" class="form-horizontal" novalidate ng-controller="PaymentPayController"
						ng-submit="submit(paymentForm.$valid)">
						<div class="form-group">
							<label>تاریخ</label> <input type="text" ui-j-date class="form-control" name="date" ng-model="payment.date" required />
							<span class="bg-danger text-warning" ng-show="submitted && paymentForm.date.$error.required"> فیلد تاریخ
								اجباری است </span>
						</div>
						<div class="form-group">
							<label>عنوان</label> <input type="text" class="form-control" name="title" ng-model="payment.title" required /> <span
								class="bg-danger text-warning" ng-show="submitted && paymentForm.title.$error.required"> فیلد عنوان
								اجباری است </span>
						</div>
						<div class="form-group">
							<label>مبلغ</label> <input type="text" class="form-control" name="amount" ng-model="payment.amount" required />
							<span class="bg-danger text-warning" ng-show="submitted && paymentForm.amount.$error.required"> فیلد مبلغ
								اجباری است </span>
						</div>
						<div class="form-group">
							<label>پرداخت کننده</label> <select class="form-control" name="payer" ng-model="payment.payer.name" required>
								<option ng-repeat="name in ['سامانی']" value="{{name}}">{{name}}</option>
							</select> <span class="bg-danger text-warning" ng-show="submitted && paymentForm.payer.$error.required"> فیلد واریز
								کننده اجباری است </span>
						</div>
						<div class="form-group">
							<label>گیرنده</label> <input class="form-control" type="text" name="recipient" ng-model="payment.recipient.name"
								required /> <span class="bg-danger text-warning" ng-show="submitted && paymentForm.recipient.$error.required">
								فیلد گیرنده اجباری است </span>
						</div>
						<div class="form-group">
							<label>توضیحات</label>
							<textarea class="form-control" ng-model="payment.description" />

						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" value="ثبت" /> <input class="btn" value="انصراف"
								ng-click="cancel()" />
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>