<div id="home">
	<div
		class="container"
		ng-controller="InvoiceDetailsController">
		<h3>مشاهده فاکتور</h3>
		<hr />
		<div class="row">
			<div class="col-md-6 col-md-offset-3 invoice-row">
				<div class="col-md-12 margin-bottom-10">
					<label>شناسه فاکتور:</label>
					<label>{{invoice.id}}</label>
				</div>
				<div class="col-md-6 margin-bottom-10">
					<label>تاریخ فاکتور:</label>
					<label>{{invoice.date | toShDate}}</label>
				</div>
				<div class="col-md-6 margin-bottom-10">
					<label>کارکرد خودرو:</label>
					<label>{{invoice.milage}}</label>
				</div>
				<div class="col-md-12 margin-bottom-10">
					<label>عنوان فاکتور:</label>
					<label>{{invoice.title}}</label>
				</div>
				<div class="col-md-12 margin-bottom-10">
					<label>شرح فاکتور</label>
					<table class="table">
						<tr>
							<th>ردیف</th>
							<th>عنوان</th>
							<th>تعداد</th>
							<th>مبلغ</th>
							<th>جمع کل</th>
						</tr>
						<tr ng-repeat="item in invoice.items">
							<td>{{$index +1}}</td>
							<td>{{item.title}}</td>
							<td>{{item.quantity}}</td>
							<td>{{item.price}}</td>
							<td>{{item.quantity * item.price}}</td>
						</tr>
					</table>

				</div>
				<div class="col-md-6 margin-bottom-10">
					<label>تلفن:</label>
					<label>{{invoice.tell}}</label>
				</div>
				<div class="col-md-6 margin-bottom-10">
					<label>آدرس:</label>
					<label>{{invoice.address}}</label>
				</div>
				<div class="col-md-4 margin-bottom-10">
					<label>مبلغ باقیمانده:</label>
					<label>{{invoice.remain}}</label>
				</div>
				<div class="col-md-4 margin-bottom-10">
					<label>مبلغ پرداخت شده:</label>
					<label>{{invoice.paid}}</label>
				</div>

				<div class="col-md-4 margin-bottom-10">
					<label>نحوه پرداخت:</label>
					<label>{{invoice.paymentType}}</label>
				</div>
			</div>
		</div>
	</div>
</div>